<!DOCTYPE html>
<html>
  <head>
    <title>Pdf Generator</title>
  </head>
  <body>
    <h1>Pdf Generator</h1>
    <p>Welcome!!</p>
    <form action="/generatePdf" method="POST" enctype="multipart/form-data">
    	<div>
		<label for="merchant">Merchant:</label>
		<input type="text" id="merchant" name="merchant" placeholder="merchant" required>
		</div>

		<div>
		<label for="pId">Purchase Id:</label>
		<input type="text" id="pId" name="pId" placeholder="pId" required>
		</div>

		<div>
			<label for="address_line1">Address Line1</label>
			<input type="text" id="address_line1" name="address_line1" placeholder="address_line1" required>
		</div>
		<div>
			<label for="state">State:</label>
			<input type="text" id="state" name="state" placeholder="state" required>
		</div>
		<div>
			<label for="zip_code">Zip Code:</label>
			<input type="text" id="zip_code" name="zip_code" placeholder="zip_code" required>
		</div>
		<div>
			<label for="vchr_code">Voucher Code:</label>
			<input type="text" id="vchr_code" name="vchr_code" placeholder="vchr_code" required>
		</div>
		<div>
			<label for="vchr_amt">Voucher amount:</label>
			<input type="text" id="vchr_amt" name="vchr_amt" placeholder="amount" required>
		</div>
		<div>
			<label for="adult">Adults:</label>
			<input type="number" id="adult" name="adult" placeholder="adult" required>
		</div>

		<div>
			<label for="child">Children:</label>
			<input type="number" id="child" name="child" placeholder="child" required>
		</div>
		<div>
			<label for="valid_from">Valid From:</label>
			<input type="text" id="valid_from" name="valid_from" placeholder="valid_from" required>
		</div>
		<div>
			<label for="valid_to">Valid To:</label>
			<input type="text" id="valid_to" name="valid_to" placeholder="valid_to" required>
		</div>
		<div>
			<label for="status">Status:</label>
			<input type="text" id="status" name="status" placeholder="redeem or redeemed" required>
		</div>
		<div>
			<label for="from_date">From date:</label>
			<input type="text" id="from_date" name="from_date" placeholder="from_date" required>
		</div>
		<div>
			<label for="to_date">To date:</label>
			<input type="text" id="to_date" name="to_date" placeholder="to_date" required>
		</div>

		<div>
			<label for="image">Image:</label>
			<input type="file" id="image" name="image">
		</div>
		<input type="submit">
    </form><br/>
    <form action="/fetch-pdf" method="GET">
		  <input type="submit" value="Downoad pdf"> 	
    </form>
  </body>
</html>
